In [243]:
# import relevant packages

import numpy as np # version 1.18.1
import pandas as pd # version 0.24.2
import matplotlib.pyplot as plt # version 3.1.1
import scipy.stats as ss # version 1.3.2

In [244]:
infile = '../Data/CTD_data/Castaway_ODU/CastAway_ODU_concat.txt'
castaway = pd.read_csv(infile)
castaway.head()

,Year,Month,Day,Hour_EST,Min_EST,Lat,Lon,Depth_m,Density_kgm3,Pressure_db,Temperature_C,Salinity,Specific_conductance_uScm,Sound_velocity_ms
0,2019,9,11,15,32,NaN,NaN,0.150594,1016.915751,0.15,26.029847,26.882141,41910.774065,1528.195325
1,2019,9,11,15,32,NaN,NaN,0.451787,1016.882332,0.45,26.044725,26.841888,41854.423997,1528.193237
2,2019,9,11,15,32,NaN,NaN,0.752984,1016.888761,0.75,26.032854,26.843945,41857.458472,1528.171997
3,2019,9,11,15,32,NaN,NaN,1.054178,1016.901897,1.05,26.018636,26.853990,41871.695608,1528.153613
4,2019,9,11,15,32,NaN,NaN,1.355372,1016.887299,1.35,26.018663,26.832832,41842.154784,1528.136214

In [245]:
infile = '../Data/CTD_data/RBR_data_geolocation_annotation.csv'
rbr_geo = pd.read_csv(infile)

# s = pd.Series(pd.to_datetime(rbr_geo['Time 1']))
# rbr_geo['DateTime_rounded'] = s.dt.round('min')

rbr_geo.head(20)

,Time 1,Time 2,Label,Latitude,Longitude,Year,Month,Day,Hour_EST,Min_EST
0,2019-08-02 15:35:02.268,2019-08-02 15:35:02.268,GPS location,35.128044,-75.117398,2019,8,2,15,35
1,2019-08-02 15:47:52.197,2019-08-02 15:47:52.197,GPS location,35.139666,-75.110312,2019,8,2,15,47
2,2019-08-05 16:40:25.932,2019-08-05 16:40:25.932,GPS location,35.910999,-75.592855,2019,8,5,16,40
3,2019-08-16 13:33:55.570,2019-08-16 13:33:55.570,GPS location,35.811399,-75.541454,2019,8,16,13,33
4,2019-08-16 13:45:53.387,2019-08-16 13:45:53.387,GPS location,35.825135,-75.547140,2019,8,16,13,45
5,2019-08-16 13:47:23.613,2019-08-16 13:47:23.613,GPS location,35.828531,-75.548574,2019,8,16,13,47
6,2019-08-16 13:50:10.855,2019-08-16 13:50:10.855,GPS location,35.829295,-75.548870,2019,8,16,13,50
7,2019-08-16 14:08:29.962,2019-08-16 14:08:29.962,GPS location,35.850336,-75.558757,2019,8,16,14,8
8,2019-08-16 14:10:56.772,2019-08-16 14:10:56.772,GPS location,35.850341,-75.558746,2019,8,16,14,10
9,2019-08-16 14:11:42.601,2019-08-16 14:11:42.601,GPS location,35.850616,-75.558479,2019,8,16,14,11
10,2019-08-16 14:46:05.549,2019-08-16 14:46:05.549,GPS location,35.912522,-75.593238,2019,8,16,14,46
11,2019-08-16 14:49:52.294,2019-08-16 14:49:52.294,GPS location,35.910802,-75.600258,2019,8,16,14,49
12,2019-08-16 15:56:23.499,2019-08-16 15:56:23.499,GPS location,35.933262,-75.488118,2019,8,16,15,56
13,2019-08-16 15:58:03.543,2019-08-16 15:58:03.543,GPS location,35.933492,-75.487785,2019,8,16,15,58
14,2019-08-16 17:05:18.664,2019-08-16 17:05:18.664,GPS location,35.818916,-75.429956,2019,8,16,17,5
15,2019-08-16 17:59:23.763,2019-08-16 17:59:23.763,GPS location,35.738660,-75.397688,2019,8,16,17,59

In [246]:
infile = '../Data/CTD_data/RBR_data.csv'
rbr = pd.read_csv(infile)

# we only need RBR data from 8/5/19 and 8/16/19
rbr = rbr[(rbr.Year == 2019) & (rbr.Month == 8) & (rbr.Day == 5) | (rbr.Day == 16)]

rbr.head()

,Counter,Time,Conductivity,Temperature,Pressure,Sea pressure,Depth,Salinity,Speed of sound,Specific conductivity,Density anomaly,Year,Month,Day,Hour_EST,Min_EST
8463,8464,8/5/2019 16:03,-0.001153,27.714325,7.872490,-2.260011,-2.246124,0.0,1503.646362,-1.096169,NaN,2019,8,5,16,3
8464,8465,8/5/2019 16:03,-0.001171,27.714020,10.373075,0.240574,0.239096,0.0,1503.687744,-1.113320,-3.682803,2019,8,5,16,3
8465,8466,8/5/2019 16:03,-0.002036,27.713593,10.362697,0.230196,0.228782,0.0,1503.686646,-1.935760,-3.682729,2019,8,5,16,3
8466,8467,8/5/2019 16:03,-0.002327,27.713379,10.320690,0.188190,0.187033,0.0,1503.685303,-2.212444,-3.682857,2019,8,5,16,3
8467,8468,8/5/2019 16:03,-0.001757,27.713898,10.330266,0.197765,0.196550,0.0,1503.686768,-1.670505,-3.682961,2019,8,5,16,3

In [247]:
lat = []
lon = []
hr = []
for i in rbr.Counter:
    year = rbr.Year[rbr.Counter == i].item()
    month = rbr.Month[rbr.Counter == i].item()
    day = rbr.Day[rbr.Counter == i].item()
    hour = rbr.Hour_EST[rbr.Counter == i].item()
    min_h = rbr.Min_EST[rbr.Counter == i].item() + 3
    min_l = rbr.Min_EST[rbr.Counter == i].item() - 3
    
    lat_i = rbr_geo.Latitude[(rbr_geo.Year == year) & (rbr_geo.Month == month) & (rbr_geo.Day == day) & (rbr_geo.Hour_EST == hour) & (rbr_geo.Min_EST < min_h) & (rbr_geo.Min_EST > min_l)]
    lon_i = rbr_geo.Longitude[(rbr_geo.Year == year) & (rbr_geo.Month == month) & (rbr_geo.Day == day) & (rbr_geo.Hour_EST == hour) & (rbr_geo.Min_EST < min_h) & (rbr_geo.Min_EST > min_l)]

    hr.append(hour - 4) # rbr data is in GMT 
    
    if len(lat_i) < 1:
        lat_i = "NaN"
        lon_i = "NaN"
    else:
        lat_i = lat_i.item()
        lon_i = lon_i.item()
        
    lat.append(lat_i)
    lon.append(lon_i)

In [248]:
listit = np.arange(1,len(rbr.Year)+1)
Instrument = []
for i in listit:
    Instrument.append('RBR')
    
rbr_new = pd.DataFrame({'Instrument':Instrument,'Year':rbr.Year,'Month':rbr.Month,'Day':rbr.Day,'Hour_EST':hr,'Min_EST':rbr.Min_EST,'Lat':lat,'Lon':lon,'Depth':rbr.Depth,'Temp':rbr.Temperature,'Sal':rbr.Salinity})

In [249]:
listit = np.arange(1,len(castaway.Year)+1)
Instrument = []
for i in listit:
    Instrument.append('CastAway')
    
castaway_new = pd.DataFrame({'Instrument':Instrument,'Year':castaway.Year,'Month':castaway.Month,'Day':castaway.Day,'Hour_EST':castaway.Hour_EST,'Min_EST':castaway.Min_EST,'Lat':castaway.Lat,'Lon':castaway.Lon,'Depth':castaway.Depth_m,'Temp':castaway.Temperature_C,'Sal':castaway.Salinity})

In [250]:
frames = [rbr_new,castaway_new]
df = pd.concat(frames, sort = False)

df.to_csv('../Calculations/CTD_Data_All_concat.csv')

df.head()

,Instrument,Year,Month,Day,Hour_EST,Min_EST,Lat,Lon,Depth,Temp,Sal
8463,RBR,2019,8,5,12,3,NaN,NaN,-2.246124,27.714325,0.0
8464,RBR,2019,8,5,12,3,NaN,NaN,0.239096,27.714020,0.0
8465,RBR,2019,8,5,12,3,NaN,NaN,0.228782,27.713593,0.0
8466,RBR,2019,8,5,12,3,NaN,NaN,0.187033,27.713379,0.0
8467,RBR,2019,8,5,12,3,NaN,NaN,0.196550,27.713898,0.0

In [251]:
infile = "../Data/OBX_Spl_Date_Times.csv"
datetime = pd.read_csv(infile)
datetime.head()

,Counter,Event,Location,DateString,Year,Month,Day,Approx_Hour_EST,Approx_Min_EST
0,1,POINT,JPIER,6/5/2019,2019,6,5,12,20
1,2,POINT,JPIER,8/5/2019,2019,8,5,12,0
2,3,POINT,JPIER,9/11/2019,2019,9,11,15,50
3,4,POINT,JPIER,10/7/2019,2019,10,7,12,25
4,5,POINT,JPIER,11/4/2019,2019,11,4,11,50

In [268]:
infile = "../Calculations/OBX_Chla_compiled_20200817.csv"
chl = pd.read_csv(infile)
chl.head()

,Station,DateString,Year,Month,Day,Time_collected,Hour_EST,Min_EST,SplType,SplID,Depth_m,Vol_filt_ml,Instrument,Chla_ugL,Notes
0,JPIER,6/5/2019,2019,6,5,1220,12,20,CHL,1,0,NaN,Turner10AU_Fluor_MRMlab,NaN,NaN
1,JPIER,6/5/2019,2019,6,5,1220,12,20,CHL,2,0,NaN,Turner10AU_Fluor_MRMlab,NaN,NaN
2,JPIER,6/5/2019,2019,6,5,1220,12,20,CHL,3,0,NaN,Turner10AU_Fluor_MRMlab,NaN,NaN
3,JPIER,8/5/2019,2019,8,5,1200,12,0,CHL,4,0,120.0,Turner10AU_Fluor_MRMlab,0.87,NaN
4,JPIER,8/5/2019,2019,8,5,1200,12,0,CHL,5,0,120.0,Turner10AU_Fluor_MRMlab,0.77,NaN

In [269]:
listit = np.arange(1,19)

lat = []
lon = []
sst = []
sss = []
data_source = []
loc_source = []
truehour = []
truemin = []
chl_mean = []
chl_sd = []

for i in listit:
    year = datetime.Year[datetime.Counter == i].item()
    month = datetime.Month[datetime.Counter == i].item()
    day = datetime.Day[datetime.Counter == i].item()
    event = datetime.Event[datetime.Counter == i].item()
    loc = datetime.Location[datetime.Counter == i].item()
    
    if event == "POINT":
        ctd = df[(df.Year == year) & (df.Month == month) & (df.Day == day)]
        chl_i = np.mean(chl.Chla_ugL[(chl.Year == year) & (chl.Month == month) & (chl.Day == day)])
        chl_sd_i = np.std(chl.Chla_ugL[(chl.Year == year) & (chl.Month == month) & (chl.Day == day)])
        
    else:
        hour = datetime.Approx_Hour_EST[datetime.Counter == i].item()
        min_h = datetime.Approx_Min_EST[datetime.Counter == i].item() + 20
        min_l = datetime.Approx_Min_EST[datetime.Counter == i].item() - 20
        ctd = df[(df.Year == year) & (df.Month == month) & (df.Day == day) & (df.Hour_EST == hour) & (df.Min_EST < min_h) & (df.Min_EST > min_l)]
        chl_i = np.mean(chl.Chla_ugL[(chl.Year == year) & (chl.Month == month) & (chl.Day == day) & (chl.Station == loc)])
        chl_sd_i = np.std(chl.Chla_ugL[(chl.Year == year) & (chl.Month == month) & (chl.Day == day) & (chl.Station == loc)])
  
        if len(ctd) == 0:
            hour = datetime.Approx_Hour_EST[datetime.Counter == i].item() - 1
            min_h = 60
            min_l = 40
            ctd = df[(df.Year == year) & (df.Month == month) & (df.Day == day) & (df.Hour_EST == hour) & (df.Min_EST < min_h) & (df.Min_EST > min_l)]
        
    lat_i = np.mean(ctd.Lat[ctd.Lat != 'NaN'])
    lon_i = np.mean(ctd.Lon[ctd.Lon != 'NaN'])
    sst_i = np.mean(ctd.Temp[(ctd.Sal > 20) & (ctd.Depth < 1)]) # note: values may be odd when instrument is turned on (outside of water); remove any values with anomalously low salinities 
    sss_i= np.mean(ctd.Sal[(ctd.Sal > 20) & (ctd.Depth < 1)])
    truehour_i = np.mean(ctd.Hour_EST)  
    truemin_i = np.mean(ctd.Min_EST)  
  
    data_source_i = ctd.Instrument.unique()
    if len(data_source_i) > 0:
        data_source_i = data_source_i.item()
    else:
        data_source_i = 'NaN'
    
    if np.isnan(lat_i) == False:
        loc_source_i = 'CTD'
    else:
        loc_source_i = 'NaN'
        
    lat.append(lat_i)
    lon.append(lon_i)
    sst.append(sst_i)
    sss.append(sss_i)
    data_source.append(data_source_i)
    loc_source.append(loc_source_i)
    truehour.append(truehour_i)
    truemin.append(truemin_i)
    chl_mean.append(chl_i)
    chl_sd.append(chl_sd_i)

In [270]:
infile = "../Data/OBX_Spl_Date_Times.csv"
datetime = pd.read_csv(infile)
datetime.head()

datetime['Loc_Data_Source'] = loc_source
datetime['Lat'] = lat
datetime['Lon'] = lon
datetime['Hydro_Data_Source'] = data_source
datetime['CTD_Hour_EST'] = truehour
datetime['CTD_Min_EST'] = truemin
datetime['Sfc_Temp_C'] = sst
datetime['Sfc_Sal'] = sss
datetime['Sfc_Chla_ugL'] = chl_mean
datetime['Sfc_Chla_ugL_stdev'] = chl_sd

datetime.to_csv('../Calculations/OBX_Compiled_Sfc_Data_1.csv')

print(datetime)

    Counter    Event Location  DateString  Year  Month  Day  Approx_Hour_EST  \
0         1    POINT    JPIER    6/5/2019  2019      6    5               12
1         2    POINT    JPIER    8/5/2019  2019      8    5               12
2         3    POINT    JPIER   9/11/2019  2019      9   11               15
3         4    POINT    JPIER   10/7/2019  2019     10    7               12
4         5    POINT    JPIER   11/4/2019  2019     11    4               11
5         6    POINT    JPIER  12/12/2019  2019     12   12               12
6         7    POINT    JPIER   1/13/2020  2020      1   13               12
7         8    POINT    JPIER    2/3/2020  2020      2    3               12
8         9    POINT    JPIER   3/16/2020  2020      3   16               12
9        10    POINT    JPIER   5/27/2020  2020      5   27               11
10       11    POINT    JPIER   6/24/2020  2020      6   24               12
11       12  Cruise1       N1   8/16/2019  2019      8   16                9
12       13  Cruise1       A1   8/16/2019  2019      8   16               10
13       14  Cruise1       N2   8/16/2019  2019      8   16               10
14       15  Cruise1       N3   8/16/2019  2019      8   16               11
15       16  Cruise1       N4   8/16/2019  2019      8   16               13
16       17  Cruise1       A3   8/16/2019  2019      8   16               13
17       18  Cruise1       A4   8/16/2019  2019      8   16               15

    Approx_Min_EST Loc_Data_Source        Lat        Lon Hydro_Data_Source  \
0               20             NaN        NaN        NaN               NaN
1                0             CTD  35.910999 -75.592855               RBR
2               50             NaN        NaN        NaN          CastAway
3               25             NaN        NaN        NaN          CastAway
4               50             NaN        NaN        NaN          CastAway
5                0             NaN        NaN        NaN          CastAway
6               20             NaN        NaN        NaN          CastAway
7               24             NaN        NaN        NaN          CastAway
8               40             NaN        NaN        NaN          CastAway
9               11             NaN        NaN        NaN          CastAway
10               3             NaN        NaN        NaN          CastAway
11              40             CTD  35.812331 -75.541839               RBR
12              10             CTD  35.850336 -75.558757               RBR
13              45             CTD  35.912522 -75.593237               RBR
14              55             CTD  35.933262 -75.488118               RBR
15               0             CTD  35.818916 -75.429956               RBR
16              55             CTD  35.738660 -75.397688               RBR
17               0             NaN        NaN        NaN               RBR

    CTD_Hour_EST  CTD_Min_EST  Sfc_Temp_C    Sfc_Sal  Sfc_Chla_ugL  \
0            NaN          NaN         NaN        NaN           NaN
1           12.0     7.116870   26.256180  25.472857      0.770000
2           15.0    48.153846   26.037565  26.868776           NaN
3           12.0    18.000000   23.687048  30.613681     14.259333
4           11.0    44.000000   18.102047  28.266723      2.050694
5           11.0    32.116279   10.757879  31.793276     11.316667
6           12.0     9.470588   15.618883  34.301691      6.052667
7           12.0    13.000000    8.347880  31.152385      2.865563
8           12.0    34.000000   10.398744  31.084897      4.191688
9           11.0    18.200000   18.456640  25.083632      1.535238
10          11.0    54.395349   19.455827  31.213247           NaN
11           9.0    32.262076   20.307931  33.752406      8.440000
12          10.0     6.933721   21.838216  32.004931      2.783333
13          10.0    43.270622   20.319419  30.662262      2.260000
14          11.0    51.945806   25.291887  31.387166      1.486667
15          13.0     1.368734   21.297121  32.100370      3.203333
16          13.0    55.655413   25.963132  35.373456      1.370000
17          14.0    56.000000   25.497135  35.628189      4.715000

    Sfc_Chla_ugL_stdev
0                  NaN
1             0.081650
2                  NaN
3             2.154611
4             0.202508
5             2.263515
6             0.528357
7             0.233345
8             0.935140
9             0.159068
10                 NaN
11            0.836540
12            0.416520
13            0.379737
14            0.368812
15            0.400527
16            0.494031
17            0.115000